@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;}

body{
    width:  1920px;
    min-height:  1080px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    width: 1920px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #D1D1D1;
    padding: 24px 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.nav-left .logo{
    width: 60px;
    height: 60px;
    border-radius: 14px;
    padding: 16px 17px 17px 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F46E5;
}

.nav-left .logo img{
    width: 29px;
    height: 30px;
}

.nav-right{
    display: flex;
    justify-content: center;
}

.browse-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 220px;
    height: 56px;
    border-radius: 8px;
    padding: 15px;
    gap: 8px;
    text-decoration: none;
    line-height: 1;
}


.browse-link img{
    height: 26px;
    width: 26px;
}

.browse-link span{
    width: 156px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #525252;
    white-space: nowrap;
}

.nav-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 36px;
}

.btn-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #958FEF;
    gap: 2px;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F46E5;
    cursor: pointer;
}

.btn-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 60px;
    border-radius: 8px;
    border: none;
    gap: 10px;
    background-color: #4F46E5;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    cursor: pointer;
}

#nav-logged-in{
  display: none;
}

.nav-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    margin-left: 8px;
}

.enrolled-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 227px;
    height: 56px;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    text-decoration: none;
}

.enrolled-link:hover{
    filter: invert(15%) sepia(100%) saturate(6934%) hue-rotate(244deg) brightness(85%) contrast(106%);
}


.enrolled-link img{
    width: 26px;
    height: 26px;
}

.enrolled-link span{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #525252;
    white-space: nowrap;
}

.profile-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #EEEDFC;
    position: relative;
    text-decoration: none;
    flex-shrink: 0;
    padding: 0;
}

.profile-icon img{
    width: 38px;
    height: 38px;
}

.status-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F4A316 ;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
}

footer{
    width: 1920px;
    max-height: 334px;
    padding: 80px 0 0 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D1D1D1;
}

.footer-wrapper{
    width: 1566px;
    height: 334px;
    gap: 74px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



.footer-top{
    width: 1566px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-brand{
    width: 310.36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-brand-top{
    width: 310.36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 174px;
    height: 45px;
    gap: 12px;
}

.footer-logo .logo{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    padding: 16px 17px 17px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #4F46E5;
}
.footer-logo .logo img{
    width: 18.37px;
    height: 19px;
}

.footer-logo span{
    width: 117px;
    height: 29px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #130E67;
    white-space: nowrap;
}

.footer-brand-top p{
    width: 310.36px;
    height: 34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #130E67;
    display: flex;
    align-items: center;
}

.footer-socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 177px;   
    height: 19px;
    gap: 22px;
}
.footer-socials a img{
    display: block;
}

.footer-socials a:nth-child(1) img{width:11px; height: 19px;}
.footer-socials a:nth-child(2) img{width:19px; height: 15px;}
.footer-socials a:nth-child(3) img{width:19px; height: 19px;}
.footer-socials a:nth-child(4) img{width:19px; height: 18px;}
.footer-socials a:nth-child(5) img{width:21px; height: 15px;}

.footer-links{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 130px;
    gap: 120px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column:nth-child(1) {width: 144px; height: 92px;}
.footer-column:nth-child(2) {width: 186px; height: 62px;}
.footer-column:nth-child(1) {width: 230px; height: 130px;}

.footer-column h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #130E67;
}
.footer-column-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-column a{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    color: #666666;
    display: flex;
    white-space: nowrap;
}
.footer-column-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-column-info p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #666666;
}
.footer-column-info p:nth-child(1) img{width: 24px; height: 24px;}
.footer-column-info p:nth-child(2) img{width: 22px; height: 22px;}
.footer-column-info p:nth-child(3) img{width: 24px; height: 24px;}

.footer-bottom{
    width: 1566px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-left{
    width: 601.41px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #666666;
}
.footer-bottom-right{
    width: 859.16px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #666666;
    text-align: right;
    padding-right: 10px;
}
.footer-bottom-right a{
    color: #4F46E5;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    flex: 1;
    background-color: #F5F5F5;
    gap: 64px;
}

.hero-slider {
    width: 1566px;
    height: 420px;
    border-radius: 30px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    cursor: default;
}


.slider-arrows {
    position: absolute;
    top: 311px;
    left: 1386px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 132px;
    height: 54px;
    z-index: 10;
}

.slider-arrow {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    flex-shrink: 0;
    padding: 0;
}

.slider-arrow.disabled {
    pointer-events: none;
}

.slider-arrow.left {
    background-image: url('assets/ArrowleftDisabled.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-arrow.right {
    background-image: url('assets/ArrowrightActive.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-dots {
    position: absolute;
    top: 334px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    height: 8px;
}

.dot {
    width: 57px;
    height: 8px;
    border-radius: 999px;
    background-color: #C1BCBC80;
    cursor: pointer;
}

.dot.active {
    background-color: #F5F5F5;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 48px;
    background-size: cover;
    background-position: center;
}

.slide.active {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    width: 1470px;
    gap: 14px;
}

.slide h2 {
    width: 1470px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5%;
    color: #FFFFFF;
}

.slide p {
    width: 1218px;
    height: 58px;
    font-weight: 200;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.slide-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 64px;
    border-radius: 8px;
    padding: 17px 25px;
    margin-top: 20px;
    gap: 10px;
    background-color: #4F46E5;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.start-learning {
    width: 1566px;
    height: 739px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.section-header {
    width: 1566px;
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    gap: 10px;
}

.section-header h2 {
    height: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0A0A0A;
}

.section-header p {
    width: 538px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3D3D3D;
    white-space: nowrap;
}

.course-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.course-card {
    width: 506px;
    height: 576px;
    border-radius: 12px;
    border: 1px solid #F5F5F5;
    padding: 20px;
    gap: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.course-card:hover{
    cursor: pointer;
    border-color: rgba(138, 130, 212, 0.1);
}

.course-card:active{
    border-color: rgba(149, 143, 239, 1);
}

.course-card-image {
    width: 466px;
    height: 262px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.course-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.course-card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.course-instructor {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.course-instructor .lecturer-label {
    color: #8A8A8A;
}

.course-instructor .lecturer-name {
    color: #666666;
}

.course-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.course-rating img {
    width: 18px;
    height: 18px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.course-rating span {
    width: 22px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #525252;
    display: flex;
    align-items: center;
}

.course-title {
    width: 455px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #141414;
}

.course-description {
    width: 412px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #666666;
}

.course-card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 58px;
}

.course-price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    width: 167px;
    height: 39px;
}

.course-price-label {
    width: 76px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8A8A8A;
    margin-bottom: 7px;
}

.course-price {
    width: 83px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #141414;
}

.btn-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 58px;
    border-radius: 8px;
    padding: 17px 25px;
    background-color: #4F46E5;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}



.continue-learning-logged-out {
    width: 1566px;
    height: 369px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.continue-learning-logged-in {
    width: 1566px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.continue-learning-header h2 {
    height: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0A0A0A;
}

.continue-learning-header p {
    width: 538px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3D3D3D;
    white-space: nowrap;
}

.continue-learning-header {
    width: 1566px;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 28px;
}

.continue-learning-header-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.see-all {
    align-self: flex-end;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #4F46E5;
}

.continue-learning-cards-b {
    display: flex;
    flex-direction: row;
    gap: 24px;
    filter: blur(8px);
    pointer-events: none;
}


.continue-learning-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 1566px;
    height: 219px;
    position: relative;
}

.continue-learning-card {
    width: 506px;
    height: 219px;
    border-radius: 12px;
    padding: 20px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.continue-learning-card-top {
    display: flex;
    flex-direction: row;
    width: 466px;
    height: 123px;
    gap: 16px;
    opacity: 0.76;
}

.continue-learning-card-image {
    width: 140px;
    height: 123px;
    max-width: 140px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
}

.continue-learning-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continue-learning-card-info {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 123px;
    padding: 0 4px 0 0;
    gap: 9px;
}

.continue-learning-card-info-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.continue-learning-instructor {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.continue-learning-instructor .lecturer-label {
    color: #8A8A8A;
    margin-right: 3.5px;
}

.continue-learning-instructor .lecturer-name {
    color: #666666;
}

.continue-learning-title {
    width: 306px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.31px;
    color: #141414;
}

.continue-learning-card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 466px;
    height: 48px;
    opacity: 0.76;
}

.continue-learning-progress-wrapper {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 39.31px;
    padding-bottom: 4px;
    gap: 4px;
}

.continue-learning-progress-text {
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #141414;
}

.progress-bar-wrapper {
    width: 336px;
    height: 15.13px;
    border-radius: 30px;
    background-color: #DDDBFA;
    position: relative;
}

.progress-bar {
    width: 202.56px;
    height: 15.13px;
    border-radius: 30px;
    background-color: #4F46E5;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid #958FEF;
    padding: 12px 16px;
    gap: 2px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #4F46E5;
    cursor: pointer;
    text-decoration: none;
}

.continue-learning-logged-out .continue-learning-cards-b {
    filter: blur(8px);
    pointer-events: none;
}


.login-prompt {
    position: absolute;
    width: 418px;
    height: 233px;
    border-radius: 12px;
    border: 1px solid #ADADAD;
    padding: 32px 56px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.continue-learning-cards-wrapper {
    position: relative;
    width: 1566px;
    height: 219px;
}

.login-prompt-inner {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.login-prompt-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 77px;
    border-radius: 50px;
    padding: 20px;
    gap: 10px;
    background-color: #DDDBFA;
}

.login-prompt-icon img {
    width: 34px;
    height: 37px;
}

.login-prompt-top {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.login-prompt-text {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #0A0836;
}

.btn-login-prompt {
    width: 83px;
    height: 42px;
    border-radius: 8px;
    padding: 17px 25px;
    gap: 10px;
    background-color: #4F46E5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}

.catalog-main {
    display: flex;
    flex-direction: column;
    padding: 40px 177px;
    background-color: #F5F5F5;
    flex: 1;
    gap: 24px;
    align-items: flex-start;
}

.catalog-content {
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 1566px;
}

.catalog-left {
    width: 309px;
    flex-shrink: 0;
}

.catalog-right {
    flex: 1;
}

.breadcrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;
    width: 149px;
    height: 28px;
    margin-top: 20px;
}

.breadcrumbs-home{
    width: 51px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #666666;
    text-decoration: none;
}



.breadcrumbs-browse{
    width: 64px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #736BEA;
}

.filters{
    display: flex;
    width: 309px;
    height: 914px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.filters-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: auto;
    width: 309px;
    align-self: stretch;
}

.filters-txt{
    width: 121px;
    height: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #0A0A0A;
}


.filters-remove{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;
    width: 133px;
    height: 24px;
    white-space: nowrap;
    color: #8A8A8A;
    background-color: #F5F5F5;
    filter: none;
    border: none;
}
.filters-remove-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.filters-remove-x{
    width: 10px;
    height: 10px;
}

.filters-remove:hover{
    color: #4F46E5;
}
.filters-remove:hover img{
    filter: brightness(0) saturate(100%) invert(31%) sepia(85%) saturate(5411%) hue-rotate(239deg) brightness(94%) contrast(93%);
}

.filters-mid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    width: 309px;
}

.filters-categories-text{
    width: 309px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
}
.filters-instructor-text{
    width: 309px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
}
.filters-topics-text{
    width: 309px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
}

.filters-categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 309px;
}

.filters-categories-choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    width: 309px;
    white-space: nowrap;
}

.filters-topics-choice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    width: 309px;
    white-space: nowrap;
}

.filters-topics {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 309px;
}

.filters-instructor {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 309px;
}

.filters-instructor-choice{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 179px;
    height: 254px;
}

.filters-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px 0px;
    width: 309px;
    height: 36px;
    border-top: 1px solid #ADADAD;
    border-radius: 0px;
    margin-top: -46px;
}

.filters-bottom-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 309px;
    height: 20px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #8A8A8A;
}

.filter-chip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #666666;
}

.filter-chip.active {
    background: #EEEDFC;
    border: 1.5px solid #281ED2;
    color: #281ED2;
}
.filter-chip.active:hover{
    background: #EEEDFC;
    border: 1.5px solid #281ED2;
    color: #281ED2;
}

.filter-chip:hover {
    background: #DDDBFA;
    color: #281ED2;
}


.filter-chip img {
    width: 18px;
    height: 18px;
}

.filter-chip:hover img,
.filter-chip.active img {
    filter: invert(15%) sepia(100%) saturate(6934%) hue-rotate(244deg) brightness(85%) contrast(106%);
}

.instructor-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 179px;
    border-radius: 12px;
    padding: 8px 12px;
    gap: 12px;
    cursor: pointer;
    background-color: #FFFFFF;
    border:none;
    white-space: nowrap;
}

.instructor-chip:hover {
    background: #DDDBFA;
    animation: none;
}

.instructor-chip.active {
    background: #EEEDFC;
    border: 1px solid #281ED2;
}

.instructor-chip img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    object-fit: cover;
    flex-shrink: 0;
}

.instructor-chip span {
    width: 113px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.instructor-chip.active span {
    color: #281ED2;
}
.instructor-chip:hover span {
    color: #281ED2;
}

.catalog-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1167px;
    gap: 23px;
}


.catalog-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1167px;
    height: 49px;
}

.catalog-showing {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #666666;
}

.sort-label{
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    color: #666666;
}

.catalog-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 234px;
    max-width: 234px;
    padding: 7px 20px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    gap: 8px;
    position: relative;
    cursor: pointer;
}

.sort-dropdown {
    position: static;
}

.sort-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 97px;
    max-width: 120px;
    gap: 8px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #4F46E5;
    white-space: nowrap;
}

.sort-options {
    display: none;
    position: absolute;
    width: 100%;
    top: calc(100% + 8px);
    right: 0;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 8px 0;
    text-align: left;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.sort-options.open {
    display: flex;
    flex-direction: column;
}

.sort-selected-img {
    width: 13px;
    height: 6px;
    flex-shrink: 0;
}

.sort-selected span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sort-option {
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

.sort-option:hover {
    background: #EEEDFC;
    color: #4F46E5;
}

.sort-option.active {
    background: #EEEDFC;
    color: #4F46E5;
}

.catalog-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1167px;
    height: 1401px;
}


.catalog-card-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1167px;
    height: 451px;
}

.catalog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 373px;
    height: 451px;
    border-radius: 12px;
    border: solid 1px;
    background-color: #FFFFFF;
    border-color: #F5F5F5;
}

.catalog-card:hover {
    border: 1px solid rgba(138, 130, 212, 0.15);
}

.catalog-card-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 333px;
    height: 345px;
}


.catalog-card-image {
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    width: 333px;
    height: 181px;
}

.catalog-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 333px;
    height: 88px;
}

.catalog-card-text-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: 333px;
    height: 18px;
}

.catalog-card-text-top-left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.catalog-card-lecturer {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8A8A8A;
}

.divider {
    width: 2px;
    height: 14px;
    background: #D1D1D1;
    border-radius: 100px;
}

.course-length {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8A8A8A;
}

.catalog-card-text-bottom {
    width: 333px;
    height: 58px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0A0A0A;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    width: 150px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 12px;
}

.tag-img {
    display: flex;
    width: 18px;
    height: 18px;
}

.tag-name {
    width: 102px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #525252;
}

.catalog-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 79px;
    width: 333px;
    height: 48px;
}

.catalog-card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 144px;
    height: 44px;
}

.catalog-card-price-txt {
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8A8A8A;
}

.catalog-price {
    width: 62px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #292929;
}

.catalog-btn-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 25px;
    gap: 10px;
    margin: 0 auto;
    width: 103px;
    height: 48px;
    background: #4F46E5;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.catalog-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 40px;
}

.page-btn {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4F46E5;
}

.page-btn-arrow.active {
    background: #FFFFFF;
    border-color: #D1D1D1;
}

.page-btn-arrow.disabled {
    fill: #DDDBFA;
}

.page-btn-arrow:hover {
    background-color: #DDDBFA;
    border-color: #B7B3F4;
}

.page-btn-arrow:active path{
    fill: #FFFFFF;
}
.page-btn-arrow:active {
    background-color: #281ED2;
    border-color: #4F46E5;
}

.page-btn-arrow:disabled path{
    fill: #DDDBFA;
}

.page-btn-arrow {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    cursor: pointer;
}

.page-btn:hover{
    background-color: #DDDBFA;
    border-color: #B7B3F4;
}

.page-btn.active{
    background-color: #281ED2;
    border-color: #4F46E5;
    color: #FFFFFF;
}

.course-main-wrapper{
    display: flex;
    align-self: center;
    gap: 133px;
    width: 1566px;
    height: 1055.15px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.course-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 903px;
    height: 1055.15px;
}

.course-info-top{
    width: 903px;
    height: 108px;    
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.breadcrumbs2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 290px;
    height: 28px;
}

.breadcrumbs-home{
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #666666;
    text-decoration: none;
}


.breadcrumbs-browse{
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #666666;
    text-decoration: none;
}

.breadcrumbs-course{
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F46E5;
}

.main-course-title{
    width: 903px;
    height: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #141414;
}

.course-scheduling {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    max-width: 530px;
    min-width: 473px;
    align-self: center;
    padding-top: 108px;
}

.course-info-bottom-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 903px;
    height: 923.15px;
}

.course-info-mid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 903px;
    height: 529.15px;
}

.course-image {
    width: 903px;
    height: 474.15px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-duration-rate-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 903px;
    height: 39px;
}

.course-duration-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 727px;
    height: 26px;
}

.course-duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 200px;
    height: 24px;
}

.course-weeks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: 92px;
    height: 24px;
}

.course-days {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    width: 96dpx;
    height: 24px;
}

.weeks-icon {
    width: 24px;
    height: 24px;
}

.days-icon {
    width: 24px;
    height: 24px;
}

.weeks-text {
    width: 64px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
}

.days-text {
    width: 64px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
    white-space: nowrap;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #666666;
}



.tag:hover {
    background: #DDDBFA;
    color: #281ED2;
}


.tag img {
    width: 18px;
    height: 18px;
}

.tag:hover img {
    filter: invert(15%) sepia(100%) saturate(6934%) hue-rotate(244deg) brightness(85%) contrast(106%);
}

.rating-main{

}

.rating-big {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.rating-big img {
    width: 24px;
    height: 24px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.rating-big span {
    width: 22px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #525252;
    display: flex;
    align-items: center;
}

.course-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
    width: 903px;
    height: 376px;
}

.course-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 903px;
    height: 312px;
}

.course-information h3{
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #8A8A8A;
}

.course-info-description {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
    white-space: initial;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.weekly-schedule-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    width: 530px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.weekly-schedule-button.disabled span{
    border-color: #8A8A8A;
    color:#8A8A8A;
}
.weekly-schedule-button.disabled h3{
    border-color: #8A8A8A;
    color:#8A8A8A;
}
.weekly-schedule-button.disabled svg{
    rotate: 180deg;
}
.weekly-schedule-button.disabled svg path{
    fill: #8A8A8A;
}

.weekly-schedule-button div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    width: 493px;
    height: 30px;
}

.schedule-ring{
    display: flex;
    width: 22px;
    height: 22px;
    color: #0A0836;
    border: 1.5px solid #130E67;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.schedule-text{
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #130E67;
    align-items: center;
}


.weekly-schedule-button svg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 14px;
    height: 28px;
}

.weekly-schedule-button svg.active{
    rotate: 180deg;
}

.schedule-ring.active{
    border-color: #0A0836;
    color: #FFFFFF;
    background-color: #0A0836;
}

.scheduling-choices{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.scheduling-choice{
    width: 123px;
    height: 91px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px 18px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
    cursor:pointer;
}

.scheduling-choice:hover{
    border-color: #958FEF;
    color: #4F46E5;
    background-color: #DDDBFA;
}

.scheduling-choice.active{
    border-color: #958FEF;
    color: #4F46E5;
    background-color: #DDDBFA;
}

.scheduling-choice.disabled{
    color: #D1D1D1;
    background-color: #F5F5F5;
    cursor: default;
}

.weekly-schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.time-slot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.session-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.scheduling-choices-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 530px;
    height: 61px;
}

.scheduling-choice-time{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    width: 172.67px;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    cursor: pointer;
}

.scheduling-choice-time-inside{
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.scheduling-choice-time-inside-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.scheduling-wd{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    flex: none;
}

.scheduling-time{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    white-space: nowrap;
}

.scheduling-choice-time.disabled{
    color: #D1D1D1;
    background-color: #F5F5F5;
    cursor: default;
    border-color: #D1D1D1;
}
.scheduling-choice-time.disabled:hover{
    color: #D1D1D1;
    background-color: #F5F5F5;
    cursor: default;
    border-color: #D1D1D1;
}
.scheduling-choice-time.disabled img{
    filter: brightness(255%);
}
.scheduling-choice-time.disabled:hover img{
    filter: brightness(255%);
}


.scheduling-choice-time:hover{
    border-color: #958FEF;
    color: #4F46E5;
    background-color: #DDDBFA;
}

.scheduling-choice-time:hover img{
    filter: brightness(0) saturate(100%) invert(31%) sepia(85%) saturate(5411%) hue-rotate(239deg) brightness(94%) contrast(93%);
}
.scheduling-choice-time.active img{
    filter: brightness(0) saturate(100%) invert(31%) sepia(85%) saturate(5411%) hue-rotate(239deg) brightness(94%) contrast(93%);
}

.scheduling-choice-time.active{
    border-color: #958FEF;
    color: #4F46E5;
    background-color: #DDDBFA;
}

.session-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.scheduling-choices-session{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 530px;
    height: 154px;
}

.scheduling-choice-session-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 171.33px;
    height: 154px;
}

.scheduling-choice-session{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 4px;
    width: 171.33px;
    height: 131px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    cursor: pointer;
}

.scheduling-choice-session.active{
    background-color: #DDDBFA;
    border-color: #958FEF;
}
.scheduling-choice-session:hover{
    background-color: #DDDBFA;
    border-color: #958FEF;
}

.seat-availability{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #525252;
}

.scheduling-choice-session-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 131.33px;
    height: 101px;
}

.session-icon{
    width: 26px;
    height: 26px;
}

.scheduling-choice-session.disabled img{
    filter: brightness(255%);
}
.scheduling-choice-session.disabled:hover img{
    filter: brightness(255%);
}
.scheduling-choice-session.active img{
    filter: brightness(0) saturate(100%) invert(31%) sepia(85%) saturate(5411%) hue-rotate(239deg) brightness(94%) contrast(93%);
}
.scheduling-choice-session:hover img{
    filter: brightness(0) saturate(100%) invert(31%) sepia(85%) saturate(5411%) hue-rotate(239deg) brightness(94%) contrast(93%);
}
.scheduling-choice-session.disabled{
    cursor:default;
}

.session-price{
    display: flex;
    width: 131.33px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #736BEA;
    justify-content: center;
}

.scheduling-choice-session.disabled .session-price{
    color: #D1D1D1;
}

.session-texts-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 131.33px;
    height: 40px;
}

.session-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 131.33px;
    height: 69px;
    color: #525252;
}

.scheduling-choice-session.disabled .session-texts-top{
    color: #D1D1D1;
}
.scheduling-choice-session.disabled:hover .session-texts-top{
    color: #D1D1D1;
}


.scheduling-choice-session:hover .session-texts-top{
    color: #4F46E5;
}


.session-type-txt{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
}

.session-address{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 131.33px;
    height: 15px;
}

.session-location{
    width: 8.25px;
    height: 10px;
}

.address{
    width: 117.33px;
    height: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.scheduling-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 24px;
    width: 530px;
    height: 306px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 12px;
}

.scheduling-price-inside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 450px;
    height: 226px;
}

.price-calculation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 450px;
}

.total-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 450px;
    height: 39px;
}

.total-price h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #8A8A8A;
}

.total-price-calculated{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
    color: #292929;
}

.price-addition{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    width: 450px;
    height: 60px;
}

.base-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 446px;
    height: 24px;
}
.session-type-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 446px;
    height: 24px;
    gap: 24px;
}


.base-price h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8A8A8A;
}
.base-price h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8A8A8A;
}

.base-price-add{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #292929;
}

.session-type-price h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8A8A8A;
}

.session-price-add{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #292929;
}

.enroll-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 450px;
    height: 63px;
    color: #FFFFFF;
    background: #4F46E5;
    border-radius: 12px;    
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.enroll-button.disabled{
    background-color: #EEEDFC;
    color: #B7B3F4;
    cursor: default;
}

.authentication-req{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 6px;
    width: 530px;
    height: 102px;
    background: #F8FAFC;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.authentication-req-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
    margin: 0 auto;
    width: 351px;
    height: 62px;
}
.authentication-req-txt-warning{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px;
}
.authentication-req-txt img{
    width: 22px;
    height: 22px;
}

.authentication-req-txt h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
} 

.authentication-req-txt span{
    display: flex;
    width: 283.06px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8A8A8A;
}

.course-sign-in{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 6px;
    margin: 0 auto;
    width: 91px;
    height: 46px;
    background: #EEEDFC;
    border: 1px solid #B7B3F4;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #281ED2;
    cursor: pointer;
}