@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;}

body{
    width:  1920px;
    min-height:  1080px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    width: 1920px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #D1D1D1;
    padding: 24px 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.nav-left .logo{
    width: 60px;
    height: 60px;
    border-radius: 14px;
    padding: 16px 17px 17px 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F46E5;
}

.nav-left .logo img{
    width: 29px;
    height: 30px;
}

.nav-right{
    display: flex;
    justify-content: center;
}

.browse-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 220px;
    height: 56px;
    border-radius: 8px;
    padding: 15px;
    gap: 8px;
    text-decoration: none;
    line-height: 1;
}

.browse-link img{
    height: 26px;
    width: 26px;
}

.browse-link span{
    width: 156px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #525252;
    white-space: nowrap;
}

.nav-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 36px;
}

.btn-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #958FEF;
    gap: 2px;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F46E5;
    cursor: pointer;
}

.btn-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 60px;
    border-radius: 8px;
    border: none;
    gap: 10px;
    background-color: #4F46E5;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    cursor: pointer;
}

#nav-logged-in{
  display: none;
}

.nav-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    margin-left: 8px;
}

.enrolled-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 227px;
    height: 56px;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    text-decoration: none;
}

.enrolled-link img{
    width: 26px;
    height: 26px;
}

.enrolled-link span{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #525252;
    white-space: nowrap;
}

.profile-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #EEEDFC;
    position: relative;
    text-decoration: none;
    flex-shrink: 0;
    padding: 0;
}

.profile-icon img{
    width: 38px;
    height: 38px;
}

.status-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F4A316 ;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
}

footer{
    width: 1920px;
    min-height: 334px;
    padding: 30px 30.5px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D1D1D1;
}

.footer-wrapper{
    width: 1566px;
    min-height: 334px;
    padding: 80px 0 20px 0;
    gap: 74px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



.footer-top{
    width: 1566px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-brand{
    width: 310.36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-brand-top{
    width: 310.36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 174px;
    height: 45px;
    gap: 12px;
}

.footer-logo .logo{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    padding: 16px 17px 17px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #4F46E5;
}
.footer-logo .logo img{
    width: 18.37px;
    height: 19px;
}

.footer-logo span{
    width: 117px;
    height: 29px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #130E67;
    white-space: nowrap;
}

.footer-brand-top p{
    width: 310.36px;
    height: 34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #130E67;
    display: flex;
    align-items: center;
}

.footer-socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 177px;   
    height: 19px;
    gap: 22px;
}
.footer-socials a img{
    display: block;
}

.footer-socials a:nth-child(1) img{width:11px; height: 19px;}
.footer-socials a:nth-child(2) img{width:19px; height: 15px;}
.footer-socials a:nth-child(3) img{width:19px; height: 19px;}
.footer-socials a:nth-child(4) img{width:19px; height: 18px;}
.footer-socials a:nth-child(5) img{width:21px; height: 15px;}

.footer-links{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 130px;
    gap: 120px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column:nth-child(1) {width: 144px; height: 92px;}
.footer-column:nth-child(2) {width: 186px; height: 62px;}
.footer-column:nth-child(1) {width: 230px; height: 130px;}

.footer-column h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #130E67;
}
.footer-column-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-column a{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    color: #666666;
    display: flex;
    white-space: nowrap;
}
.footer-column-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-column-info p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #666666;
}
.footer-column-info p:nth-child(1) img{width: 24px; height: 24px;}
.footer-column-info p:nth-child(2) img{width: 22px; height: 22px;}
.footer-column-info p:nth-child(3) img{width: 24px; height: 24px;}

.footer-bottom{
    width: 1566px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-left{
    width: 601.41px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #666666;
}
.footer-bottom-right{
    width: 859.16px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    color: #666666;
    text-align: right;
    padding-right: 10px;
}
.footer-bottom-right a{
    color: #4F46E5;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    flex: 1;
    background-color: #F5F5F5;
    gap: 64px;
}

.hero-slider {
    width: 1566px;
    height: 420px;
    border-radius: 30px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.slider-arrows {
    position: absolute;
    top: 311px;
    left: 1386px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 132px;
    height: 54px;
    z-index: 10;
}

.slider-arrow {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    flex-shrink: 0;
    padding: 0;
}

.slider-arrow.disabled {
    pointer-events: none;
}

.slider-arrow.left {
    background-image: url('assets/ArrowleftDisabled.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-arrow.right {
    background-image: url('assets/ArrowrightActive.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-dots {
    position: absolute;
    top: 334px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    height: 8px;
}

.dot {
    width: 57px;
    height: 8px;
    border-radius: 999px;
    background-color: #C1BCBC80;
    cursor: pointer;
}

.dot.active {
    background-color: #F5F5F5;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 48px;
    background-size: cover;
    background-position: center;
}

.slide.active {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    width: 1470px;
    gap: 14px;
}

.slide h2 {
    width: 1470px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5%;
    color: #FFFFFF;
}

.slide p {
    width: 1218px;
    height: 58px;
    font-weight: 200;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.slide-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 64px;
    border-radius: 8px;
    padding: 17px 25px;
    margin-top: 20px;
    gap: 10px;
    background-color: #4F46E5;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.start-learning {
    width: 1566px;
    height: 739px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-header {
    width: 1566px;
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    gap: 10px;
}

.section-header h2 {
    height: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0A0A0A;
}

.section-header p {
    width: 538px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3D3D3D;
    white-space: nowrap;
}

.course-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.course-card {
    width: 506px;
    height: 576px;
    border-radius: 12px;
    border: 1px solid #F5F5F5;
    padding: 20px;
    gap: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.course-card-image {
    width: 466px;
    height: 262px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.course-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.course-card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.course-instructor {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.course-instructor .lecturer-label {
    color: #8A8A8A;
}

.course-instructor .lecturer-name {
    color: #666666;
}

.course-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.course-rating img {
    width: 18px;
    height: 18px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.course-rating span {
    width: 22px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #525252;
    display: flex;
    align-items: center;
}

.course-title {
    width: 455px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #141414;
}

.course-description {
    width: 412px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #666666;
}

.course-card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 58px;
}

.course-price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    width: 167px;
    height: 39px;
}

.course-price-label {
    width: 76px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8A8A8A;
    margin-bottom: 7px;
}

.course-price {
    width: 83px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #141414;
}

.btn-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 58px;
    border-radius: 8px;
    padding: 17px 25px;
    background-color: #4F46E5;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}



.continue-learning-logged-out {
    width: 1566px;
    height: 369px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.continue-learning-logged-in {
    width: 1566px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.continue-learning-header h2 {
    height: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0A0A0A;
}

.continue-learning-header p {
    width: 538px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3D3D3D;
    white-space: nowrap;
}

.continue-learning-header {
    width: 1566px;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 28px;
}

.continue-learning-header-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.see-all {
    align-self: flex-end;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #4F46E5;
}

.continue-learning-cards-b {
    display: flex;
    flex-direction: row;
    gap: 24px;
    filter: blur(8px);
    pointer-events: none;
}


.continue-learning-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 1566px;
    height: 219px;
    position: relative;
}

.continue-learning-card {
    width: 506px;
    height: 219px;
    border-radius: 12px;
    padding: 20px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.continue-learning-card-top {
    display: flex;
    flex-direction: row;
    width: 466px;
    height: 123px;
    gap: 16px;
    opacity: 0.76;
}

.continue-learning-card-image {
    width: 140px;
    height: 123px;
    max-width: 140px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
}

.continue-learning-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continue-learning-card-info {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 123px;
    padding: 0 4px 0 0;
    gap: 9px;
}

.continue-learning-card-info-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.continue-learning-instructor {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.continue-learning-instructor .lecturer-label {
    color: #8A8A8A;
    margin-right: 3.5px;
}

.continue-learning-instructor .lecturer-name {
    color: #666666;
}

.continue-learning-title {
    width: 306px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.31px;
    color: #141414;
}

.continue-learning-card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 466px;
    height: 48px;
    opacity: 0.76;
}

.continue-learning-progress-wrapper {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 39.31px;
    padding-bottom: 4px;
    gap: 4px;
}

.continue-learning-progress-text {
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #141414;
}

.progress-bar-wrapper {
    width: 336px;
    height: 15.13px;
    border-radius: 30px;
    background-color: #DDDBFA;
    position: relative;
}

.progress-bar {
    width: 202.56px;
    height: 15.13px;
    border-radius: 30px;
    background-color: #4F46E5;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid #958FEF;
    padding: 12px 16px;
    gap: 2px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #4F46E5;
    cursor: pointer;
    text-decoration: none;
}

.continue-learning-logged-out .continue-learning-cards-b {
    filter: blur(8px);
    pointer-events: none;
}


.login-prompt {
    position: absolute;
    width: 418px;
    height: 233px;
    border-radius: 12px;
    border: 1px solid #ADADAD;
    padding: 32px 56px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.continue-learning-cards-wrapper {
    position: relative;
    width: 1566px;
    height: 219px;
}

.login-prompt-inner {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.login-prompt-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 77px;
    border-radius: 50px;
    padding: 20px;
    gap: 10px;
    background-color: #DDDBFA;
}

.login-prompt-icon img {
    width: 34px;
    height: 37px;
}

.login-prompt-top {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.login-prompt-text {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #0A0836;
}

.btn-login-prompt {
    width: 83px;
    height: 42px;
    border-radius: 8px;
    padding: 17px 25px;
    gap: 10px;
    background-color: #4F46E5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}